<div class="page-header">
  <h1>
    <%= @user.username %>
    <small>
      <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_user_url(@user) %>
      <%= link_to '<i class="icon-trash"></i>'.html_safe, @user, method: 'delete', data: { confirm: "Do you really want to delete this user?" } %>
    </small>
  </h1>
</div>

<ul class="media-list">
  <% @posts.each do |the_post| %>
    <%= render 'post', post: the_post %>
  <% end %>
</ul>
